
/*************************************************************************
******************************** DESKTOP *********************************
*************************************************************************/

@media only screen and (min-width:1025px) {






}





















/*************************************************************************
******************************** TABLET *********************************
*************************************************************************/




@media only screen and (min-device-width:760px) and (max-device-width:1024px), only screen and (min-width:760px) and (max-width:1024px) {






}








/*************************************************************************
******************************** MOBILE *********************************
*************************************************************************/




@media only screen and (max-width: 759px), only screen and (max-device-width: 759px)  { 









}